version: '3.8'
services:
  server:
    build: ./server
    ports:
      - "8080:8080"
    volumnes:
      - ./sever:/app
    restart: always
    depends_on:
      - db

  client:
    build: ./client
    ports:
      - "8888:8888"
    volumes:
      - ./client:/app
    restart: always
    depends_on:
      - server
  
  db:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD: "root"
    ports:
      - 3306:3306